---
layout: layout
title: Calendrier
pageable: true
per_page: 25
---
<h1>Archives pour
  <% case page_type
     when 'day' %>
    <%= Date.new(year, month, day).strftime('%d/%m/%Y') %>
  <% when 'month' %>
    <%= Date.new(year, month, 1).strftime('%m/%Y') %>
  <% when 'year' %>
    <%= year %>
  <% end %>
</h1>
<ul>
  <% page_articles.each_with_index do |article, i| %>
    <li><span><%= article.date.strftime('%d/%m/%Y') %></span> - <%= link_to article.title, article %></li>
  <% end %>
</ul>

<%= partial 'pagination', :locals => {
  :paginate => paginate,
  :next_page => next_page,
  :prev_page => prev_page,
  :num_pages => num_pages,
  :page_number => page_number
} %>

<ul>
