---
pageable: true
---
<div class="posts">
  <h1 class="content-subhead">Derniers billets</h1>

<% if paginate %>
  <% if prev_page %>
    <p><%= link_to 'Page précedente', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
<section class="post">
  <header class="post-header">
    <h2 class="post-title"><a href="<%= article.url %>"><%= article.title %></a></h2>

    <p class="post-meta">
      <span><%= article.date.strftime('%d/%m/%Y') %></span>
      <% article.tags.each do |tag| %>
        <%= link_to tag, tag_path(tag), {class: "post-category post-category-#{tag}" } %>
      <% end %>
    </p>
  </header>

  <div class="post-description">
    <p>
      <%= article.body %>
    </p>
  </div>
</section>
<% end %>

<% if paginate %>
<p>Page <%= page_number %> sur <%= num_pages %></p>
  <% if next_page %>
    <p><%= link_to 'Page suivante', next_page %></p>
  <% end %>
<% end %>

  <h3 class="content-subhead">Tags</h3>
  <p class="post-meta">
  <% blog.tags.each do |tag, articles| %>
    <%= link_to tag, tag_path(tag), {class: "post-category post-category-#{tag}" } %></a>
  <% end %>
  </p>

</div>
