---
layout: layout
pageable: true
per_page: 25
---
<h1 class="content-subhead">Billets dans la catégorie '<%= tagname %>'</h1>

<ul>
  <% page_articles.each_with_index do |article, i| %>
    <li><span><%= article.date.strftime('%d/%m/%Y') %></span> - <%= link_to article.title, article %></li>
  <% end %>
</ul>

<%= partial 'pagination', :locals => {
  :paginate => paginate,
  :next_page => next_page,
  :prev_page => prev_page,
  :num_pages => num_pages,
  :page_number => page_number
} %>


<h2 class="content-subhead">Autres catégories</h2>
<p class="post-meta">
<% blog.tags.each do |tag, articles| %>
  <% next if tag == tagname %>
  <%= link_to tag, tag_path(tag), {class: "post-category post-category-#{tag}" } %></a>
<% end %>
</p>
