---
layout: layout
<!-- pageable: true -->
<!-- per_page: 12 -->
---
<h1 class="content-subhead">Billets dans la catégorie '<%= tagname %>'</h1>

<% if paginate %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<ul>
  <% page_articles.each_with_index do |article, i| %>
    <li><span><%= article.date.strftime('%d/%m/%Y') %></span> - <%= link_to article.title, article %></li>
  <% end %>
</ul>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>

<h2 class="content-subhead">Autres catégories</h2>
<p class="post-meta">
<% blog.tags.each do |tag, articles| %>
  <% next if tag == tagname %>
  <%= link_to tag, tag_path(tag), {class: "post-category post-category-#{tag}" } %></a>
<% end %>
</p>
